
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Tareas</title>
</head>
<body>
    <h1>Lista de Tareas</h1>
    <ul>
        {% for tarea in tareas %}
            <li>
                {{ tarea[1] }} - {{ tarea[2] }}
                {% if tarea[2] == 'No Completado' %}
                    <a href="/marcar_completado/{{ tarea[0] }}" style="margin-left: 10px;">Marcar Completado</a>
                {% else %}
                    <a href="/marcar_no_completado/{{ tarea[0] }}" style="margin-left: 10px;">Marcar No Completado</a>
                {% endif %}
                <a href="/eliminar_tarea/{{ tarea[0] }}" style="margin-left: 10px;">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
    <h2>Agregar Nueva Tarea</h2>
    <form action="/agregar_tarea" method="POST">
        <input type="text" name="descripcion" placeholder="Descripción" required>
        <input type="submit" value="Agregar">
    </form>
</body>
</html>
